operation_mode: evaluation

# ---------------- Model Configuration ---------------- #
model:
  framework: 'torch' 
  model_type : st_yolod # this config is for yolod model family 
  model_path: ../../stm32ai-modelzoo/object_detection/st_yolodv2milli_pt/ST_pretrainedmodel_public_dataset/coco_person/st_yolodv2milli_actrelu_pt_coco_person_320/st_yolodv2milli_actrelu_pt_coco_person_320_qdq_int8.onnx
  # following are supported models 
  # ['st_yolodv2milli_actrelu_pt', 'st_yolodv2tiny_actrelu_pt']
  input_shape: [3, 320, 320]  # (channel, height, width)
  pretrained_input_shape : [3, 320, 320]
  model_name: st_yolodv2milli_actrelu_pt 
  pretrained: True
  pretrained_dataset: coco # this yaml is for coco style annotation only 
  num_classes: 1 #80 # Detect number classes of model

# ---------------- Evaluation Configuration ---------------- #
evaluation:
  profile: profile_O3
  input_type: uint8     # int8 / uint8 / float32
  output_type: int8     # int8 / uint8 / float32
  input_chpos: chlast   # chlast / chfirst
  output_chpos: chlast  # chlast / chfirst
  target: stedgeai_n6  # host, stedgeai_host, stedgeai_n6

# ---------------- Dataset Configuration ---------------- #
dataset:
  format : coco 
  dataset_name : coco
  class_names: ["person"] #["person","bicycle","car","motorcycle","airplane","bus","train","truck","boat","traffic light","fire hydrant","stop sign","parking meter","bench","bird","cat","dog","horse","sheep","cow","elephant","bear","zebra","giraffe","backpack","umbrella","handbag","tie","suitcase","frisbee","skis","snowboard","sports ball","kite","baseball bat","baseball glove","skateboard","surfboard","tennis racket","bottle","wine glass","cup","fork","knife","spoon","bowl","banana","apple","sandwich","orange","broccoli","carrot","hot dog","pizza","donut","cake","chair","couch","potted plant","bed","dining table","toilet","tv","laptop","mouse","remote","keyboard","cell phone","microwave","oven","toaster","sink","refrigerator","book","clock","vase","scissors","teddy bear","hair drier","toothbrush"]
  num_workers: 1  # Set worker to 4  training process costs a lot of memory, reduce this value.
  training_path : "" # just required to pass parsing
  test_annotations_path: ./datasets/coco/annotations/instances_val2017_person.json  #../../datasets/coco/annotations/instances_val2017.json  # Name of annotation file for testing, same as evaluation 
  test_images_path : ./datasets/coco/val2017

# ---------------- preprocessing Configuration ---------------- #
preprocessing: 
  rescaling:
    scale  : 1 # not used for yolod
    offset : 0 # not used for yolod
  resizing:
      aspect_ratio: fit # not used for yolod
      interpolation: nearest # not used for yolod
  color_mode: rgb

# ---------------- postrocessing Configuration ---------------- #
postprocessing:
  confidence_thresh: 0.001
  NMS_thresh: 0.5
  IoU_eval_thresh: 0.5
  plot_metrics: False #True   # Plot precision versus recall curves. Default is False.
  max_detection_boxes: 100

tools:
   stedgeai:
      path_to_stedgeai: C:/ST/STEdgeAI/3.0/Utilities/windows/stedgeai.exe

mlflow:
  uri: ./pt/src/experiments_outputs/mlruns

hydra:
  run:
    dir: ./pt/src/experiments_outputs/${now:%Y_%m_%d_%H_%M_%S}
