general:
  project_name: human_activity_recognition
  logs_dir: logs
  saved_models_dir: saved_models
  display_figures: True
  global_seed: 123
  gpu_memory_limit: 4
  
operation_mode: chain_tb
#choices=['benchmarking', 'deployment', 'evaluation', 'training', 'chain_tb']

dataset:
  dataset_name: wisdm  # wisdm or mobility_v1
  class_names: [Jogging,Stationary,Stairs,Walking] #[Stationary,Walking,Jogging,Biking] for mobility_v1 #[Jogging,Stationary,Stairs,Walking] for WISDM 
  training_path: ./datasets/WISDM_ar_v1.1/WISDM_ar_v1.1_raw.txt  # Mandatory for all but deployment, and benchmarking
  validation_path: # ./datasets/mobility_v1/train.pkl      # Optional
  validation_split: 0.2   # Optional, default value is 0.2
  test_path: 
  test_split: 0.25      # Optional, default value is 0.25
  seed: 123               # Optional, there is a default seed

preprocessing:
  gravity_rot_sup: True
  normalization: False

model:
  model_name: st_ign  # choices=['st_ign', 'st_gmp', 'custom_model']
  input_shape: (24, 3, 1)
  dropout: 0.5                     # Optional, only used for `st_ign` or `st_gmp` model use it if you want a dropout layer to be included in the model

training:
  # resume_training_from: # Optional, use to resume a training from a previous experiment.
                        # Example: experiments_outputs/YYYY_MM_DD_HH_mm_ss/saved_models/last_augmented_model.h5 
  # frozen_layers: (0:-1)            # Optional, use if you want to freeze some layers (by default all layers are trainable)
  dropout: 0.5                     # Optional, only used for `ign` or `gmp` model use it if you want a dropout layer to be included in the model
  batch_size: 256
  epochs: 200
  optimizer:
    Adam:
      learning_rate: 0.001
  callbacks:          # Optional section
    ReduceLROnPlateau:
      monitor: val_accuracy
      mode: max
      factor: 0.5
      patience: 40
      min_lr: 1.0e-05
    EarlyStopping:
      monitor: val_accuracy
      mode: max
      restore_best_weights: true
      patience: 60

tools:
   stedgeai:
      optimization: balanced
      on_cloud: True
      path_to_stedgeai: C:/ST/STEdgeAI/<x.y>/Utilities/windows/stedgeai.exe
   path_to_cubeIDE: C:/ST/STM32CubeIDE_<*.*.*>/STM32CubeIDE/stm32cubeide.exe

benchmarking:
  board: B-U585I-IOT02A

deployment:
  c_project_path: ../stm32ai_application_code/sensing_thread_x/
  IDE: GCC
  verbosity: 1
  hardware_setup:
    serie: STM32U5
    board: B-U585I-IOT02A

mlflow:
  uri: ./tf/src/experiments_outputs/mlruns

hydra:
  run:
    dir: ./tf/src/experiments_outputs/${now:%Y_%m_%d_%H_%M_%S}
