operation_mode: chain_qb

model:
   model_type: yolov2t
   model_path: ../../stm32ai-modelzoo/object_detection/yolov2t/ST_pretrainedmodel_public_dataset/coco_2017_person/yolov2t_192/yolov2t_192.keras
   input_shape: (192,192,3)
   
dataset:
   dataset_name: coco
   format: tfs
   training_path: ./datasets/od_coco_2017_person/train
   validation_path: ./datasets/od_coco_2017_person/validation
   test_path: ./datasets/od_coco_2017_person/test
   quantization_path: ./datasets/od_coco_2017_person/quantization
   quantization_split: 0.05

preprocessing:
   rescaling:
      scale: 1/127.5
      offset: -1
   resizing:
      interpolation: nearest
      aspect_ratio: fit
   color_mode: rgb

postprocessing:
   confidence_thresh: 0.001
   NMS_thresh: 0.5
   IoU_eval_thresh: 0.4
   plot_metrics: False   # Plot precision versus recall curves. Default is False.
   max_detection_boxes: 100

quantization:
   quantizer: TFlite_converter
   quantization_type: PTQ
   quantization_input_type: uint8
   quantization_output_type: float
   export_dir: quantized_models

tools:
   stedgeai:
      optimization: balanced
      on_cloud: True
      path_to_stedgeai: C:/ST/STEdgeAI/<x.y>/Utilities/windows/stedgeai.exe
   path_to_cubeIDE: C:/ST/STM32CubeIDE_<*.*.*>/STM32CubeIDE/stm32cubeide.exe

benchmarking:
   board: STM32H747I-DISCO

mlflow:
   uri: ./tf/src/experiments_outputs/mlruns

hydra:
   run:
      dir: ./tf/src/experiments_outputs/${now:%Y_%m_%d_%H_%M_%S}