model:
   model_path: ../../stm32ai-modelzoo/image_classification/fdmobilenet/ST_pretrainedmodel_public_dataset/tf_flowers/fdmobilenet_a025_128_tfs/fdmobilenet_a025_128_tfs.keras
   
operation_mode: chain_eqeb

dataset:
   dataset_name: tf_flowers
   training_path: ./datasets/flower_photos
   validation_split: 0.1
   quantization_split: 0.05

preprocessing:
   rescaling:
      scale: 1/127.5
      offset: -1
   resizing:
      aspect_ratio: fit
      interpolation: bilinear
   color_mode: rgb

quantization:
   quantizer: TFlite_converter
   quantization_type: PTQ
   quantization_input_type: uint8
   quantization_output_type: float

tools:
   stedgeai:
      optimization: balanced
      on_cloud: True
      path_to_stedgeai: C:/ST/STEdgeAI/<x.y>/Utilities/windows/stedgeai.exe
   path_to_cubeIDE: C:/ST/STM32CubeIDE_<*.*.*>/STM32CubeIDE/stm32cubeide.exe

benchmarking:
   board: STM32H747I-DISCO

mlflow:
   uri: ./tf/src/experiments_outputs/mlruns

hydra:
   run:
      dir: ./tf/src/experiments_outputs/${now:%Y_%m_%d_%H_%M_%S}