general:
  project_name: afd
  logs_dir: logs
  saved_models_dir: saved_models
  display_figures: True
  global_seed: 123
  gpu_memory_limit: 4
  deterministic_ops: True

model:
  #model_path: ../../stm32ai-modelzoo/arc_fault_detection/st_conv/ST_pretrainedmodel_custom_dataset/afd_test_bench_dataset/st_conv_freq_4channels_512/st_conv_freq_4channels_512.keras
  model_name: st_conv
  input_shape: (4,512,1)

operation_mode: chain_tbqeb
#choices=['benchmarking', 'evaluation', 'training', 'quantization', 'prediction',
#        'chain_tb','chain_tbqeb','chain_tqe','chain_eqe','chain_qb','chain_eqeb']

dataset:
  dataset_name: afd_test_bench  # AFD dataset name
  class_names: [normal,arc]
  training_path: ./datasets/afd_test_bench/Arc_and_Normal_train.csv
  validation_path: ./datasets/afd_test_bench/Arc_and_Normal_val.csv
  test_path: ./datasets/afd_test_bench/Arc_and_Normal_test.csv
  quantization_path: ./datasets/afd_test_bench/Arc_and_Normal_train.csv
  prediction_path: 
  test_split:
  validation_split:
  quantization_split:
  to_cache: True  # Optional, use it to cache the dataset in memory for faster access
  seed: 123

preprocessing:
  downsampling: False
  normalization: True
  time_domain: False

training:
  resume_training_from:
  batch_size: 256
  epochs: 40
  optimizer:
    Adam:
      learning_rate: 0.01
  callbacks:          # Optional section
    ReduceLROnPlateau:
      monitor: val_accuracy
      mode: max
      factor: 0.5
      patience: 10
      min_lr: 1.0e-05
    EarlyStopping:
      monitor: val_accuracy
      mode: max
      restore_best_weights: true
      patience: 70

quantization:
  quantizer: TFlite_converter   # onnx_quantizer for ONNX quantization, TFlite_converter for TFLite quantization
  quantization_type: PTQ
  quantization_input_type: int8
  quantization_output_type: int8
  granularity:                       # Optional, defaults to "per_channel". 
  optimize:                          # Optional, defaults to False.
  target_opset:                      # Optional, defaults to 17. Only used for ONNX quantization
  export_dir: quantized_models

tools:
   stedgeai:
      optimization: balanced
      on_cloud: True
      path_to_stedgeai: C:/ST/STEdgeAI/<x.y>/Utilities/windows/stedgeai.exe
   path_to_cubeIDE: C:/ST/STM32CubeIDE_1.17.0/STM32CubeIDE/stm32cubeide.exe

benchmarking:
  board: B-U585I-IOT02A

mlflow:
  uri: ./tf/src/experiments_outputs/mlruns

hydra:
  run:
    dir: ./tf/src/experiments_outputs/${now:%Y_%m_%d_%H_%M_%S}
